.App {
  text-align: center;

  .App-header {
    background-color: var(--light-blue1);
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 0.1em 0.5em;
  }

  .App-header-left {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }

  .App-link {
    display: flex;
    gap: 0.5em;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .App-logo {
    height: 50px;
    pointer-events: none;
  }

  .country-container {
    width: 80%;
    margin: auto;
  }
}
